
.login {
    width: 28.75rem;
    height: 3rem;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.addUser {
    width: 10rem;
    height: 2rem;
    border-radius: 16px;
    background-color: var(--primary-color);
    color: #fff; 
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}


.save {
    width: 74px;
    height: 40px;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.login:hover, .addUser:hover, .save:hover { 
    background-color: #212111;
}